<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <ul>
        {{#each users}}
            <li>
                {{this.displayName}} ({{this.email}})
                <form action="/admin/delete-user" method="post" style="display:inline;">
                    <input type="hidden" name="uid" value="{{this.uid}}">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {{/each}}
    </ul>
</body>
</html>
