<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/admin-style.css">
</head>
<body>
    <div class="container">
        <h1>{{title}}</h1>
        <button id="logout-button">Logout</button>

        <h2>Users:</h2>
        <div class="user-list">
            <ul>
                {{#each users}}
                    <li class="user-item">
                        <div class="user-info">
                            <strong>{{this.displayName}}</strong>
                            <span>{{this.email}}</span>
                        </div>
                        <form action="/admin/users/{{this.uid}}/delete" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <script src="/js/logout.js"></script>
</body>
</html>
